.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 0.9rem;
  color: var(--gray);
}

.recommended-friends span {
  display: block;
  margin: 100px 0;
  text-align: center;
  font-size: 1rem;
  color: var(--gray);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.open-post__title {
  font-size: 1rem;
  margin-bottom: 10px;
}

.open-post__hashtags {
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 8px;
  opacity: 0.6;
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 10px;
}

.open-post__members img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.4;
}

.open-post__members .divider {
  width: 2px;
  height: 12px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 4px 7px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 8px;
  right: 3px;
  font-size: 8px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

/* iPhone 5/SE */
@media screen and (max-width: 320px) {
  #find-screen {
    padding-bottom: 1rem;
  }

  .recommended-friends__title {
    font-size: 0.8rem;
  }

  .recommended-friends span {
    font-size: 12px;
    line-height: 1.4;
  }

  .open-chat__header {
    margin-bottom: 0;
  }

  .open-chat__header h4 {
    font-size: 12px;
  }

  .open-chat__header span {
    font-size: 10px;
  }

  .open-post {
    margin-top: 60px;
  }

  .open-post__title {
    font-size: 14px;
  }

  .open-post__hashtags {
    font-size: 8px;
  }

  .open-post__members .divider {
    width: 2px;
    height: 10px;
  }

  .open-post__photo img {
    width: 65px;
    height: 65px;
  }

  .open-post__heart-count {
    padding: 2px 5px;
    bottom: 4px;
    right: 4px;
  }
}


/* iPhone 6/7/8*/
@media screen and (min-width: 321px) and (max-width: 375px) {
  #find-screen {
    padding-bottom: 1rem;
  }

  .recommended-friends__title {
    font-size: 0.8rem;
  }

  .recommended-friends span {
    font-size: 13px;
    line-height: 1.4;
  }

  .open-chat__header {
    margin-bottom: 0;
  }

  .open-chat__header h4 {
    font-size: 12px;
  }

  .open-chat__header span {
    font-size: 10px;
  }

  .open-post {
    margin-top: 60px;
  }

  .open-post__title {
    font-size: 14px;
  }

  .open-post__hashtags {
    font-size: 8px;
  }

  .open-post__members .divider {
    width: 2px;
    height: 10px;
  }

  .open-post__photo img {
    width: 70px;
    height: 70px;
  }

  .open-post__heart-count {
    padding: 2px 5px;
    bottom: 4px;
    right: 4px;
  }
}


/* iPhone 6/7/8/Plus */
@media screen and (min-width: 376px) and (max-width: 414px) {
  #find-screen {
    padding-bottom: 1rem;
  }

  .recommended-friends__title {
    font-size: 0.8rem;
  }

  .recommended-friends span {
    font-size: 13px;
    line-height: 1.4;
  }

  .open-chat__header {
    margin-bottom: 0;
  }

  .open-chat__header h4 {
    font-size: 12px;
  }

  .open-chat__header span {
    font-size: 10px;
  }

  .open-post {
    margin-top: 60px;
  }

  .open-post__title {
    font-size: 14px;
  }

  .open-post__hashtags {
    font-size: 8px;
  }

  .open-post__members .divider {
    width: 2px;
    height: 10px;
  }

  .open-post__photo img {
    width: 75px;
    height: 75px;
  }

  .open-post__heart-count {
    padding: 3px 6px;
    bottom: 4px;
    right: 4px;
  }
}

/* iPhone X */
@media screen and (height: 812px) {
  .open-post__photo img {
    width: 80px;
    height: 80px;
  }
}