.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 30px;
}

.more-suggestions__title {
  font-size: 1rem;
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
  justify-content: space-between;
}

.more-suggestions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.more-suggestions__icon-image {
  width: 50px;
  height: 50px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image-text {
  text-align: center;
}

.more-suggestions__icon-image i {
  font-size: 1.5rem;
  color: white;
}

.more-suggestions-2 {
  margin-top: 2rem;
  margin-left: 8px;
  width: 94%;
}



/* iPhone 5/SE */
@media screen and (max-width:320px) {
  .more-suggestions__title {
    font-size: 14px;
    margin-bottom: 25px;
  }

  .more-suggestions__icons {
    justify-content: space-around;
  }

  .more-suggestions__icon {
    margin-right: 0;
  }

  .more-suggestions__icon-image {
    width: 40px;
    height: 40px;
  }

  .more-suggestions__icon-image i {
    font-size: 18px;
  }

  .more-suggestions__icon-text {
    font-size: 11px;
    text-align: center;
  }

  .more-suggestions-2 {
    margin-top: 2.4rem;
    margin-left: -1px;
    width: 100%;
  }
}

/* iPhone 6/7/8 */
@media screen and (min-width: 321px) and (max-width: 375px) {
  .more-suggestions__title {
    font-size: 14px;
    margin-bottom: 25px;
  }

  .more-suggestions__icons {
    justify-content: space-around;
  }

  .more-suggestions__icon {
    margin-right: 0;
  }

  .more-suggestions__icon-image {
    width: 40px;
    height: 40px;
  }

  .more-suggestions__icon-image i {
    font-size: 18px;
  }

  .more-suggestions__icon-text {
    font-size: 10px;
    text-align: center;
  }

  .more-suggestions-2 {
    margin-top: 2.6rem;
    margin-left: -1px;
    width: 100%;
  }
}

/* iPhone 6/7/8/Plus */
@media screen and (min-width: 376px) and (max-width: 414px) {
  .more-suggestions__title {
    font-size: 14px;
    margin-bottom: 25px;
  }

  .more-suggestions__icons {
    justify-content: space-around;
  }

  .more-suggestions__icon {
    margin-right: 0;
  }

  .more-suggestions__icon-image {
    width: 43px;
    height: 43px;
  }

  .more-suggestions__icon-image i {
    font-size: 18px;
  }

  .more-suggestions__icon-text {
    font-size: 11px;
    text-align: center;
  }

  .more-suggestions-2 {
    margin-top: 2.6rem;
    margin-left: -1px;
    width: 100%;
  }
}

/* iPhone X */
@media screen and (height:812px){
  .more-suggestions__icon-image {
    width: 43px;
    height: 43px;
  }

  .more-suggestions__icon-image i {
    font-size: 18px;
  }

  .more-suggestions__icon-text {
    font-size: 11px;
    text-align: center;
  }

  .more-suggestions-2 {
    margin-top: 2.6rem;
    margin-left: -1px;
    width: 100%;
  }
}