.settings__setting {
  padding: 20px 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting:nth-child(3) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 50px;
}

.settings__setting:nth-child(4) {
  padding-top: 50px;
}

.settings__setting i {
  width: 22px;
  opacity: 0.8;
  font-size: 1.2rem;
}

.settings__setting span {
  margin-left: 20px;
  font-size: 1rem;
}

.setting-info {
  opacity: 0.5;
}

.settings__setting-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings__setting-column > div {
  margin-left: 15px;
}

.setting-info {
  font-size: 1rem;
}



/* iPhone 5/SE */
@media screen and (max-width:320px) {
  #setting-screen {
    padding-bottom: 1rem;
  }

  .settings__setting-column i {
    font-size: 16px;
  }

  .settings__setting-column span {
    font-size: 14px;
    margin-left: 6px;
  }

  .setting-info {
    font-size: 12px;
  }

  .settings__setting-column > div {
    margin-left: 8px;
  }
}

/* iPhone 6/7/8 */
@media screen and (min-width: 321px) and (max-width: 375px) {
  #setting-screen {
    padding-bottom: 1rem;
  }
  
  .settings__setting-column i {
    font-size: 16px;
  }

  .settings__setting-column span {
    font-size: 14px;
    margin-left: 6px;
  }

  .setting-info {
    font-size: 12px;
  }

  .settings__setting-column > div {
    margin-left: 8px;
  }
}

/* iPhone 6/7/8/Plus */
@media screen and (min-width: 376px) and (max-width: 414px) {
  #setting-screen {
    padding-bottom: 1rem;
  }
  
  .settings__setting-column i {
    font-size: 18px;
  }

  .settings__setting-column span {
    font-size: 16px;
    margin-left: 6px;
  }

  .setting-info {
    font-size: 14px;
  }

  .settings__setting-column > div {
    margin-left: 8px;
  }
}

/* iPhone X */
@media screen and (height:812px){
  .settings__setting-column i {
    font-size: 18px;
  }

  .settings__setting-column span {
    font-size: 16px;
    margin-left: 6px;
  }

  .setting-info {
    font-size: 14px;
  }

  .settings__setting-column > div {
    margin-left: 8px;
  }
}