.alt-header {
  padding: 20px 10px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-header__title {
  font-size: 1.4rem;
  font-weight: 600;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child {
  margin-right: auto;
  font-size: 0.6rem;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
  padding-top: 6px;
}

.alt-header__column span:last-child {
  margin-left: 20px;
}




/* iPhone 5/SE */
@media screen and (max-width:320px) {
  .alt-header {
    margin-bottom: 0;
  }

  .alt-header__column:nth-child(1) {
    width: 0;
  }

  .alt-header__column:last-child {
    padding-top: 3px;
  }

  .alt-header__column span:last-child {
    margin-left: 10px;
  }


  .alt-header__title {
    font-size: 16px;
  }

  .alt-header__column i {
    font-size: 14px;
  }
}


/* iPhone 6/7/8 */
@media screen and (min-width:321px) and (max-width:375px) {
  .alt-header {
    margin-bottom: 0;
  }

  .alt-header__column:nth-child(1) {
    width: 0;
  }

  .alt-header__column:last-child {
    padding-top: 3px;
  }

  .alt-header__column span:last-child {
    margin-left: 12px;
  }


  .alt-header__title {
    font-size: 18px;
  }

  .alt-header__column i {
    font-size: 14px;
  }
}


/* iPhone 6/7/8/Plus */
@media screen and (min-width: 376px) and (max-width: 414px) {
  .alt-header {
    margin-bottom: 0;
  }

  .alt-header__column:nth-child(1) {
    width: 0;
  }

  .alt-header__column:last-child {
    padding-top: 3px;
  }

  .alt-header__column span:last-child {
    margin-left: 12px;
  }


  .alt-header__title {
    font-size: 18px;
  }

  .alt-header__column i {
    font-size: 16px;
  }
}

/* iPhone X */
@media screen and (height: 812px) {
  .alt-header {
    margin-bottom: 0;
  }

  .alt-header__column:nth-child(1) {
    width: 0;
  }

  .alt-header__column:last-child {
    padding-top: 3px;
  }

  .alt-header__column span:last-child {
    margin-left: 12px;
  }


  .alt-header__title {
    font-size: 20px;
  }

  .alt-header__column i {
    font-size: 18px;
  }
}