.badge {
  background-color: tomato;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 8px;
  font-weight: 600;
}

.new__badge {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: tomato;
  font-size: 10px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.find__badge {
  position: absolute;
  right: 0.2rem;
  top: 1rem;
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.nav__badge-1 {
  position: absolute;
  left: 15px;
  bottom: 15px;
  background-color: tomato;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 8px;
  font-weight: 600;
  animation: notificationAnimation 2s ease-in-out infinite;
}

.nav__badge-2 {
  position: absolute;
  left: 1.3rem;
  bottom: 1.1rem;
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}


/* iPhone 5/SE */
@media screen and (max-width: 320px) {
  .badge {
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }

  .find__badge {
    right: 0.2rem;
    top: 1rem;
    width: 5px;
    height: 5px;
  }

  .nav__badge-1 {
    left: 10px;
    bottom: 15px;
    width: 16px;
    height: 16px;
    font-size: 8px;
  }

  .nav__badge-2 {
    left: 18px;
    bottom: 18px;
    width: 5px;
    height: 5px;
  }

  .new__badge {
    width: 16px;
    height: 16px;
    font-size: 8px;
    font-weight: bold;
  }
}

/* iPhone 6/7/8 */
@media screen and (min-width: 321px) and (max-width: 375px) {
  .badge {
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }

  .find__badge {
    right: 0.2rem;
    top: 1rem;
    width: 5px;
    height: 5px;
  }

  .nav__badge-1 {
    left: 10px;
    bottom: 15px;
    width: 16px;
    height: 16px;
    font-size: 8px;
  }

  .nav__badge-2 {
    left: 18px;
    bottom: 18px;
    width: 5px;
    height: 5px;
  }

  .new__badge {
    width: 16px;
    height: 16px;
    font-size: 8px;
    font-weight: bold;
  }
}
