.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.new__badge {
  background-color: tomato;
  border-radius: 50%;
  color: white;
  font-size: 14px;
}

.find__badge {
  position: absolute;
  right: 15px;
  top: 45px;
  background-color: tomato;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.nav__badge-1 {
  position: absolute;
  left: 15px;
  bottom: 15px;
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.nav__badge-2 {
  position: absolute;
  left: 30px;
  bottom: 25px;
  background-color: tomato;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
