.badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.new__badge {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: tomato;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.find__badge {
  position: absolute;
  right: 17px;
  top: 47px;
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.nav__badge-1 {
  position: absolute;
  left: 15px;
  bottom: 15px;
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: 600;
  animation: notificationAnimation 2s ease-in-out infinite;
}

.nav__badge-2 {
  position: absolute;
  left: 23px;
  bottom: 20px;
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

@media screen and (max-width: 380px) {
  .find__badge {
    right: 20px;
    top: 42px;
    width: 6px;
    height: 6px;
  }

  .nav__badge-1 {
    left: 10px;
    bottom: 15px;
    width: 16px;
    height: 16px;
    font-size: 8px;
  }

  .nav__badge-2 {
    left: 18px;
    bottom: 18px;
    width: 6px;
    height: 6px;
  }
}
