.icon-row {
  display: flex;
  justify-content: space-between;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  font-size: 1.4rem;
}

.icon-row__icon span {
  margin-top: 12px;
  font-size: 10px;
}


/* iPhone 5/SE */
@media screen and (max-width: 320px) {
  .icon-row__icon i {
    font-size: 1.6rem;
  }
  
  .icon-row__icon span {
    font-size: 10px;
  }
}

/* iPhone 6/7/8 */
@media screen and (min-width: 321px) and (max-width: 380px) {
  .icon-row {
    align-items: center;
  }

  .icon-row__icon i {
    font-size: 24px;
  }

  .icon-row__icon span {
    margin-top: 10px;
    font-size: 10px;
  }
}


/* iPhone 6/7/8/Plus */
@media screen and (min-width: 381px) and (max-width: 414px) {
  .icon-row__icon i {
    font-size: 1.8rem;
  }

  .icon-row__icon span {
    margin-top: 10px;
    font-size: 0.7rem;
  }
}

/* iPhone X */
@media screen and (height: 812px) {
  .icon-row__icon i {
    font-size: 1.9rem;
  }

  .icon-row__icon span {
    margin-top: 10px;
    font-size: 0.7rem;
  }
}
