.music-play-nav {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 20px 80px;
    bottom: 0.4rem;
}
  
.music-play-nav i {
    font-size: 1.1rem;
}

.music-play-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.music-play-nav__link {
position: relative;
color: #2e363e;
}

.music-play-nav__btn {
transform: translateY(30px);
opacity: 0;
animation: appearBtnAnimation 0.4s ease-in-out forwards;
}

.music-play-nav__btn:nth-child(2) {
    cursor: pointer;
    animation-delay: 0.5s;
    background-color: #3e68ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    height: 3rem;
    width: 3rem;
    position: relative;
    top: -1.5rem;
    border-radius: 50%;
    box-shadow: 5px 5px 40px rgba(118, 146, 180, 1);
}

.music-play-nav__btn:nth-child(2) i {
    color: white;
}

.music-play-nav__play-btn {
    margin-left: 3px;
}

#music__play-btn {
    margin-left: 3px;
}

#music__pause-btn {
    margin-left: 0;
    display: none;
}

  
@keyframes appearBtnAnimation {
from {
    opacity: 0;
}
to {
    opacity: 1;
    transform: none;
}
}

/* Mobile - iPhone 5/SE */
@media screen and (max-width: 320px) {
    .music-play-nav {
        padding: 10px 60px;
    }

    .music-play-nav__link i {
        font-size: 1rem;
    }

    .music-play-nav__btn:nth-child(2) {
        height: 45px;
        width: 45px;
    }
}

/* Mobile - iPhone 6/7/8 */
@media screen and (min-width: 321px) and (max-width: 380px) {
    .music-play-nav {
        padding: 10px 50px;
      }
}

/* Mobile - iPhone X */
@media screen and (height:812px) {
    .music-play-nav {
        padding: 10px 70px;
    }
}
  