.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  position: relative;
}

.screen-header__title {
  font-size: 1.3rem;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 0.6rem;
}

.screen-header__icons span i {
  font-size: 0.8rem;
  cursor: pointer;
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

/* Chats Header */
.chats-header {
  margin-bottom: 1rem;
}

/* Find Header */
.find-header {
  margin-bottom: 0.6rem;
}


/* More Header */
.more-header {
  margin-bottom: 1rem;
}



/* iPhone 5/SE */
@media screen and (max-width: 320px) {
  .screen-header__title {
    font-size: 1.2rem;
  }

  .screen-header__icons span {
    margin-left: 10px;
  }

  .screen-header__icons span i {
    font-size: 12px;
  }
}

/* iPhone 6/7/8 */
@media screen and (min-width: 321px) and (max-width: 375px) {
  .screen-header__title {
    font-size: 1.2rem;
  }

  .screen-header__icons span {
    margin-left: 10px;
  }

  .screen-header__icons span i {
    font-size: 12px;
  }
}

/* iPhone 6/7/8/Plus */
@media screen and (min-width: 376px) and (max-width: 414px) {
  .screen-header__title {
    font-size: 1.3rem;
  }

  .screen-header__icons span {
    margin-left: 10px;
  }

  .screen-header__icons span i {
    font-size: 12px;
  }
}

/* iPhone X */
@media screen and (height:812px){
  .screen-header__title {
    font-size: 1.4rem;
  }

  .screen-header__icons span {
    margin-left: 10px;
  }

  .screen-header__icons span i {
    font-size: 12px;
  }
}