.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.screen-header__title {
  font-size: 24px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icons span i {
  font-size: 18px;
  cursor: pointer;
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 380px) {
  .screen-header {
    padding-top: 18px;
  }

  .screen-header__title {
    font-size: 20px;
  }

  .screen-header__icons span {
    margin-left: 10px;
  }

  .screen-header__icons span i {
    font-size: 14px;
  }
}
