.user-component {
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-component__title {
  font-weight: 600;
  font-size: 14px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 12px;
  color: var(--gray);
}

.user-component__avatar--xl {
  width: 55px;
  height: 55px;
}

.user-component__avatar--sm {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.user-component__title--not-bold {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 5px;
}

.user-component__status {
  font-size: 12px;
  opacity: 0.6;
  margin-top: 8px;
}

.user__now-listening {
  border: 2px solid violet;
  padding: 4px 5px;
  border-radius: 15px;
  font-size: 8px;
}

.user__now-listening:hover {
  background-color: violet;
  color: white;
  transition: all 0.23s ease-in;
}

.user__now-listening i {
  font-size: 4px;
  padding-left: 5px;
}

.user-component__column:last-child {
  color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
  font-size: 12px;
  opacity: 0.6;
}

/* Chats */
.chats-component {
  margin-bottom: 2rem;
}


/* iPhone 5/SE */
@media screen and (max-width: 320px) {
  .user-component__column:last-child > i {
    font-size: 25px;
  }

  .user-component__avatar--xl {
    width: 60px;
    height: 60px;
  }

  .user-component__title {
    font-weight: 600;
    font-size: 14px;
  }

  .user-component__subtitle {
    font-size: 11px;
  }

  .user-component__title--not-bold {
    font-weight: 400;
    font-size: 14px;
  }

  .user-component__status {
    margin-top: 6px;
    font-size: 10px;
  }

  .user-component__time {
    font-size: 10px;
  }

  .user__now-listening {
    padding: 5px 8px;
  }

  .user__now-listening span {
    display: none;
  }

  .user__now-listening i {
    padding-left: 0;
    font-size: 8px;
  }

}

/* iPhone 6/7/8 */
@media screen and (min-width: 321px) and (max-width: 375px) {
  .user-component__column:last-child > i {
    font-size: 28px;
  }

  .user-component__avatar--xl {
    width: 60px;
    height: 60px;
  }

  .user-component__title {
    font-weight: 600;
    font-size: 14px;
  }

  .user-component__subtitle {
    font-size: 12px;
  }

  .user-component__title--not-bold {
    font-weight: 400;
    font-size: 14px;
  }

  .user-component__status {
    margin-top: 8px;
    font-size: 10px;
  }

  .user-component__time {
    font-size: 12px;
  }

  .user__now-listening {
    padding: 5px 8px;
  }

  .user__now-listening span {
    display: none;
  }

  .user__now-listening i {
    padding-left: 0;
  }
}

/* iPhone 6/7/8/Plus */
@media screen and (min-width: 376px) and (max-width: 414px) {
  .user-component__column:last-child > i {
    font-size: 28px;
  }

  .user-component__avatar--xl {
    width: 60px;
    height: 60px;
  }

  .user-component__title {
    font-weight: 600;
    font-size: 14px;
  }

  .user-component__subtitle {
    font-size: 12px;
  }

  .user-component__title--not-bold {
    font-weight: 400;
    font-size: 14px;
  }

  .user-component__status {
    margin-top: 8px;
    font-size: 10px;
  }

  .user-component__time {
    font-size: 12px;
  }

  .user__now-listening {
    padding: 5px 8px;
  }

  .user__now-listening span {
    display: none;
  }

  .user__now-listening i {
    padding-left: 0;
  }
}

/* iPhone X */
@media screen and (height:812px) {
  .user-component__column:last-child > i {
    font-size: 28px;
  }

  .user-component__avatar--xl {
    width: 67px;
    height: 67px;
  }
  .user-component__avatar {
    width: 65px;
    height: 65px;
  }

  .user-component__title {
    font-weight: 600;
    font-size: 16px;
  }

  .user-component__subtitle {
    font-size: 12px;
  }

  .user-component__title--not-bold {
    font-weight: 400;
    font-size: 16px;
  }

  .user-component__status {
    margin-top: 8px;
    font-size: 12px;
  }

  .user-component__time {
    font-size: 12px;
  }

  .user__now-listening {
    padding: 5px 8px;
  }

  .user__now-listening span {
    display: none;
  }

  .user__now-listening i {
    padding-left: 0;
  }
}